<div class="frame frame1">
	
	
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star1" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star2" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star3" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star4" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star5" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star6" >

	<img src="../_common/images/<%= width %>x<%= height %>/high.png" class="retina high" >
	<img src="../_common/images/<%= width %>x<%= height %>/t1.png" class="retina t1" >
	<img src="../_common/images/<%= width %>x<%= height %>/t2.png" class="retina t2" >
	<img src="../_common/images/<%= width %>x<%= height %>/cta.png" class="retina cta" >
	<img src="../_common/images/<%= width %>x<%= height %>/cta2.png" class="retina cta2" >
	<img src="../_common/images/<%= width %>x<%= height %>/logo.png" class="retina logo" >


</div>