<div class="frame frame1">
	
	<img src="../_common/images/<%= width %>x<%= height %>/f1.png" class="retina" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star1" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star2" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star3" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star4" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star5" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star6" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star7" >
	<img src="../_common/images/<%= width %>x<%= height %>/star.png" class="retina star star8" >

	<% include ../_common/templates/tokyo %>


</div>